{% extends "base.html" %}
{% block meta %}
    <title>Matthew Moisen</title>
    <meta name="description" content="Matthew Moisen's blog for programming, homebrewing, and miscellaneous activities."/>
    <link rel="canonical" href="http://matthewmoisen.com/">
{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
    <header> <h1>All Posts</h1></header>
    <table id="post-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Edit</th>
                <th>Change Status</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="/blog/{{post.url_name}}/">{{post.title}}</a></td>
                <td><a href="/admin/post/{{post.post_id}}/"><button type="submit">Edit</button></a></td>
                {% if post.is_published %}
                <td><a href="/admin/post/{{post.post_id}}/draft/?last_url=admin_post"><button type="submit">Draft</button></a></td>
                {% else %}
                <td><a href="/admin/post/{{post.post_id}}/publish/?last_url=admin_post"><button type="submit">Publish</button></a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}