{% extends "base.html" %}
{% block meta %}
    <title>Matthew Moisen Admin Log</title>
{% endblock %}
{% block css %}
    body {
        max-width: 100%;
    }
    table {
        width: 100%;
    }
{% endblock %}
{% block content %}
    <header> <h1>Logs</h1></header>
    <table>
        <thead>
            <tr>
                <th>Creation Date</th>
                <th>Level</th>
                <th>Message</th>
                <th>Path</th>
                <th>Method</th>
                <th>IP</th>
                <th>Is Admin</th>
                <th>Trace</th>

            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{log.creation_date}}</a></td>
                <td>{{log.level}}</a></td>
                <td>{{log.message}}</a></td>
                <td>{{log.path}}</a></td>
                <td>{{log.method}}</a></td>
                <td>{{log.ip}}</a></td>
                <td>{{log.is_admin}}</a></td>
                <td>{{log.trace}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}