{% extends "base.html" %}
{% block css %}
    #post-content {
        width: 650px;
        height: 600px;
    }
    #post-title {
        width: 650px;
    }
{% endblock %}
{% block content %}
    <header>
        <h1>Create new Category</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form action="/admin/category/" method="POST">
            <input type="hidden" name="category_id" value="{{category_id}}">
            <h2>Parent Category</h2>
            <select name="category_parent_id">
                <option value="">None</option>
                {% for category in categories %}
                    {% if category.name != 'Uncategorized' %}
                        {% if category.id != category_id %}
                        <option value="{{category.id}}" {{ 'selected' if parent_id == category.id else '' }}>{{ '&nbsp;'|safe * category.depth * 4}}{{ category.name }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </select>
            <p>Name</p>
            <input type="text" name="category_name" value="{{name}}">
            <button type="submit">Submit</button>
        </form>

    </header>
{% endblock %}