{% extends "base.html" %}
{% block css %}

    #post-content {
        width: 650px;
        height: 600px;
    }
    #post-title {
        width: 650px;
    }
    #other-category-ids {
        height:200px;
    }

    #left {
        width: 50%;
        float: left;
    }
    #right {
        margin-left: 50%;
    }


{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.4.3/dist/showdown.min.js"></script>
<script src="/static/paste.js"></script>
<script>
$(document).ready(function(){

        $('#image-messages').hide();

        $('#upload-image-btn').click(function() {
            //var form_data = new FormData($('#upload-image')[0]);
            var form_data = new FormData();
            form_data.append('file', $('#upload-image')[0].files[0]);
            console.log(form_data);

            $.ajax({
                type: 'POST',
                url: '/api/upload-image/',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                async: false,
                dataType: 'json',
                success: function(data) {
                    console.log('Success!');
                    console.log(data);
                    $('#image-messages li:first').text('Image saved successfully').attr("class", "success");
                    $('#image-messages').show().hide(3000);

                    var post_content = $('#post-content').val() + data['markdown'];
                    console.log(post_content);
                    $('#post-content').val(post_content);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    var status = jqXHR.status;
                    var responseJSON = jqXHR.responseJSON;
                    console.log(status);
                    console.log(responseJSON);

                    $('#image-messages li:first').text(responseJSON['error']).attr("class", "error");
                    $('#image-messages').show();

                }
            });
        });

        $('#post-content').pastableTextarea();
        $('#post-content').on('pasteImage', function(ev, data) {
            console.log("dataURL: " + data.dataURL);
            console.log("width: " + data.width);
            console.log("height: " + data.height);
            console.log(data.blob);

            var content = {'data': data.dataURL};

            var file_name = prompt("Enter a unique file name", "matthew_moisen_foo.jpg");
            content['file_name'] = file_name;
            console.log(file_name);

            $.ajax({
                type: 'POST',
                url: '/api/upload-image-png/',
                data: JSON.stringify(content),
                contentType: 'application/json',
                cache: false,
                processData: false,
                async: false,
                dataType: 'json',
                success: function(data) {
                    console.log('Success!');
                    console.log(data);
                    $('#image-messages li:first').text('Image saved successfully').attr("class", "success");
                    $('#image-messages').show().hide(3000);

                    var post_content = $('#post-content').val() + data['markdown'];
                    console.log(post_content);
                    $('#post-content').val(post_content);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    var status = jqXHR.status;
                    var responseJSON = jqXHR.responseJSON;
                    console.log(status);
                    console.log(responseJSON);

                    $('#image-messages li:first').text(responseJSON['error']).attr("class", "error");
                    $('#image-messages').show();

                }
            });


        }).on('pasteImageError', function(ev, data) {
            alert('Oops: ' + data.message);
            if(data.url){
                  alert('But we got its url anyway:' + data.url)
            }
        }).on('pasteText', function(ev, data) {
            console.log("text: " + data.text);
        });



        do_content = function(content, url, success_call) {
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(content),
                contentType: 'application/json',
                cache: false,
                processData: false,
                async: false,
                dataType: 'json',
                success: function(data) {

                    success_call(data);

                },
                error: function(jqXHR, textStatus, errorThrown) {
                    var status = jqXHR.status;
                    var responseJSON = jqXHR.responseJSON;
                    console.log(status);
                    console.log(responseJSON);
                }
            });
        };

        var draft_id = "{{draft_id}}";
        var post_id = "{{post_id}}";
        var main_category_id = "{{main_category_id}}";
        //var title = "{{title}}";
        var description = "{{description}}";
        //var url_name = "{{url_name}}";

        save_draft = function(content) {
            var url = '/api/save-draft/';

            success_call = function(data) {
                console.log('Success!');
                console.log(data);
                draft_id = data['draft_id'];
                $('#draft-id').val(draft_id);
                console.log(draft_id);
            };
            do_content(content, url, success_call);
        }

        // http://codetunnel.io/how-to-implement-autosave-in-your-web-app/
        timeout_id = null;
        $('#post-content').keypress(function() {
            if (timeout_id) {
                timeout_id = clearTimeout(timeout_id);
            }

            timeout_id = setTimeout(function() {
                var content = {"content": $('#post-content').val()};

                draft_id = $('#draft-id').val();
                main_category_id = $('#main-category-id').val();

                // This is new post, saving title and url_name won't cause harm unless its not unique....
                title = $('#post-title').val();
                url_name = $('#url-name').val();
                description = $('#description').val();

                content['draft_id'] = draft_id;
                content['post_id'] = post_id;
                content['main_category_id'] = main_category_id;
                content['title'] = title;
                content['description'] = description;
                content['url_name'] = url_name;
                save_draft(content);
            }, 5000);
        });



        $('#post-content').bind('input propertychange', (function() {

            var converter = new showdown.Converter(),
                text = this.value,
                html = converter.makeHtml(text);

                $('#preview').html(html);

        }));

        $('#link-category-id').on('change', function() {
            var data = {'category_id': this.value};

             $.ajax({
                type: 'get',
                url: "/api/search/post/",
                data: data,
                dataType: 'json',
                success: function(data) {

                    console.log(data);
                    $('#link-search-results').children().remove();
                    for (var i = 0; i < data['data'].length; i++) {
                        item = data['data'][i];
                        $('#link-search-results').append('<option value="' + item['url_name'] + '">' + item['title'] + '</option>');
                    }

                },
                error: function(jqXHR, textStatus, errorThrown) {
                    var status = jqXHR.status;
                    var responseJSON = jqXHR.responseJSON;
                    console.log(status);
                    console.log(responseJSON);
                }
            });


        });

        link_search_timeout_id = null;
        $('#link-search').keypress(function() {
            if (link_search_timeout_id) {
                clearTimeout(link_search_timeout_id);
            }

            link_search_timeout_id = setTimeout(function() {
                var data = {'search': $('#link-search').val()};
                console.log(data)

                $.ajax({
                    type: 'get',
                    url: "/api/search/post/",
                    data: data,
                    dataType: 'json',
                    success: function(data) {

                        console.log(data);
                        $('#link-search-results').children().remove();
                        for (var i = 0; i < data['data'].length; i++) {
                            item = data['data'][i];
                            $('#link-search-results').append('<option value="' + item['url_name'] + '">' + item['title'] + '</option>');
                        }

                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        var status = jqXHR.status;
                        var responseJSON = jqXHR.responseJSON;
                        console.log(status);
                        console.log(responseJSON);
                    }
                });

            }, 500);

        });

     $('#add-link-btn').click(function(){
        var link = "[](/blog/" + $('#link-search-results').val() + "/)";
        var post_content = $('#post-content').val() + link;
        $('#post-content').val(post_content);
     });




});



</script>
{% endblock %}
{% block content %}
    <header>
        <h1>Create new Post</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if drafts %}
        This post has auto-saved the following draft(s). Be aware that if you save this post, the drafts will be deleted!
        <ul>
            {% for draft in drafts %}
            <li><a href="/admin/post/{{draft.post_id}}/">{{draft.post_id}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}


                <form action="/admin/post/new/" method="POST" enctype="multipart/form-data">
                    <input type="hidden" id='post-id' name="post_id" value="{{post_id}}">
                    <input type="hidden" id='draft-id' name="draft_id" value="{{draft_id}}">

                    <h2>Main Category</h2>
                    <select id = "main-category-id" name="main_category_id">
                        {% for category in categories %}
                        <option value="{{category.id}}" {{ 'selected' if main_category_id == category.id else '' }}>{{ '&nbsp;'|safe * category.depth * 4}}{{ category.name }}</option>
                        {% endfor %}
                    </select>

                    <h2>Other Categories</h2>
                    <select id="other-category-ids" name="other_category_ids" multiple>
                        {% for category in categories %}
                            {% if category.name != 'Uncategorized' %}
                            <option value="{{category.id}}" {{ 'selected' if category.id in other_category_ids else '' }}>{{ '&nbsp;'|safe * category.depth * 4}}{{category.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <h2>Title</h2>
                    <input type="text" id="post-title" name="post_title" value="{{title}}">

                    <h2>Url Name</h2>
                    <input type="text" id="url-name" name="url_name" value="{{url_name}}" placeholder="Leave blank to use title as url name">

                    <h2>Description</h2>
                    <input type="text" id="description" name="description" value="{{description}}" placeholder="Leave blank to use title as description">

                    <h2>Disable comments</h2>
                    <input type="checkbox" name="is_commenting_disabled" value="true" {{'checked' if is_commenting_disabled else '' }}>

                    <h2>Content</h2>
                    <textarea id="post-content" name="post_content">{{content}}</textarea>

                    <h3>Add link</h3>
                    <select id="link-category-id">
                        <option value="null" selected>Select a category</option>
                        {% for category in categories %}
                        <option value="{{category.id}}">{{ '&nbsp;'|safe * category.depth * 4}}{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" id="link-search" placeholder="Search for title here">
                    <select id="link-search-results">

                    </select>
                    <button id='add-link-btn' type="button">Add link</button>

                    <h2>Preview</h2>
                    <div id="preview">{{markdown|safe}}</div>

                    <button type="submit" name="submit" value="publish">Publish Post</button>
                    <button type="submit" name="submit" value="draft">Save as Draft</button>
                </form>


                <ul class="messages" id="image-messages">

                    <li class="error">NOOB</li>

                </ul>

                <input id="upload-image" type="file" name="file"><button id="upload-image-btn" type="submit"  value="upload_image">Upload image</button>




    </header>

{% endblock %}