{% extends "base.html" %}
{% block css %}
    table, td, th {
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        padding: 15px;
    }
    th, td {
        border-bottom: 1px solid #ddd;

    }

    tr:hover {
        background-color: #ddd;
    }

    #post-table a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 15px;
     }

{% endblock %}
{% block content %}
    <header> <h1>Categories</h1></header>
    <table id="post-table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="/category/{{category.category_id}}/">{{category.name}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}