{% extends "base.html" %}
{% block meta %}
    <meta name="description" content="{{category_description}}"/>
    {% if category_url_name == 'projects' %}
    <link rel="canonical" href="{{web_protocol}}matthewmoisen.com/projects/">
    {% else %}
    <link rel="canonical" href="{{web_protocol}}matthewmoisen.com/blog/category/{{category_url_name}}/">
    {% endif %}
    <title>{{title}}</title>
{% endblock %}
{% block css %}
    table, td, th {
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        padding: 15px;
    }
    th, td {
        border-bottom: 1px solid #ddd;

    }

    tr:hover {
        background-color: #ddd;
    }

    #post-table a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 15px;
     }

{% endblock %}
{% block content %}
    <header> <h1>{{category_name}}</h1></header>
    {% if is_admin %}
    <a href="/admin/post/new/?main_category_id={{category_id}}"><button type="submit">Add Post</button></a>
    <a href="/admin/category/{{category_id}}/"><button type="submit">Edit Category</button></a>
    {% endif %}
    <table id="post-table">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                {% if post.url_name == 'resume' %}
                <td><a href="/resume/">{{post.title}}</a></td>
                {% else %}
                <td><a href="/blog/{{post.url_name}}/">{{post.title}}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}