{% extends "base.html" %}
{% block meta %}
    <title>Matthew Moisen</title>
    <meta name="description" content="Matthew Moisen's official website relating to programming, homebrewing, and miscellaneous activities."/>
    <link rel="canonical" href="{{web_protocol}}{{domain}}">
    <meta name="google-site-verification" content="{{google_site_verification}}" />
{% endblock %}
{% block css %}

{% endblock %}
{% block content %}

    <p>
    My name is Matthew Moisen. I am a programmer and homebrewer, and this is <a href="/projects/python-blog/">my python blog</a> where I write on these topics.
    </p>
    <p>
    Scroll down to check out my recent posts,
        <a href="/blog/category/">view all posts by category</a>,
        <a href="/projects/">check out some projects I'm working on</a>,
        <a href="/resume/"> or view my resume</a>
    </p>
    {% if is_admin %}
    <a href="/admin/post/new/"><button type="submit">Add Post</button></a>
    {% endif %}
    <table id="post-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                {% if post.url_name == 'resume' %}
                <td><a href="/resume/">{{post.title}}</a></td>
                {% else %}
                    {% if post.is_project %}
                    <td><a href="/projects/{{post.url_name}}/">{{post.title}}</a></td>
                    {% else %}
                    <td><a href="/blog/{{post.url_name}}/">{{post.title}}</a></td>
                    {% endif %}
                {% endif %}

                {% if post.is_project %}
                    <td><a href="/projects/{{post.category_url_name}}">{{post.category}}</a></td>
                {% else %}
                <td><a href="/blog/category/{{post.category_url_name}}">{{post.category}}</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}