{% extends "base.html" %}

{% block meta %}

     <link rel="canonical" href="{{canonical_url}}">
    <meta name="description" content="{{description}}"/>
    <title>{{title}}</title>
{% endblock %}

{% block css %}

{% endblock %}


{% macro print_table_of_contents() %}
    {% if table_of_contents %}
        <p>This post is part of a series. This list contains all of the posts: </p>
        <ul>
            {% for post in table_of_contents %}
                <li>
                    {% if post.is_published %}
                    <a href="{{post.url}}">
                    {% endif %}

                    {% if post.post_id == post.this_post_id %}
                        <strong>
                    {% endif %}

                    {{post.title}}

                    {% if post.post_id == post.this_post_id %}
                        </strong>
                    {% endif %}

                    {% if post.is_published %}
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% block content %}
    <header>
        <h1>{{title}}</h1>
    </header>
    {% if is_admin %}
        <a href="/admin/post/{{post_id}}/"><button type="submit">Edit Post</button></a>
        {% if is_published %}
        <a href="/admin/post/{{post_id}}/draft/"><button type="submit">Mark as Draft</button></a>
        {% else %}
        <a href="/admin/post/{{post_id}}/publish/"><button type="submit">Mark as Published</button></a>
        {% endif %}
        <a href="/admin/post/{{post_id}}/delete/"><button type="submit">Delete</button></a>
    {% endif %}

    {{ print_table_of_contents() }}

    {{content|safe}}

    {{ print_table_of_contents() }}

    {% if is_admin %}
        <a href="/admin/post/{{post_id}}/"><button type="submit">Edit Post</button></a>
        {% if is_published %}
        <a href="/admin/post/{{post_id}}/draft/"><button type="submit">Mark as Draft</button></a>
        {% else %}
        <a href="/admin/post/{{post_id}}/publish/"><button type="submit">Mark as Published</button></a>
        {% endif %}
        <a href="/admin/post/{{post_id}}/delete/"><button type="submit">Delete</button></a>
    {% endif %}

    {% if not is_commenting_disabled %}
        <hr>
        <h2>Comments</h2>
        <h3> Add Comment</h3>
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="messages">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        <form action="/blog/{{url_name}}/" method="POST">
            <p>Name <input name="comment_name" value="{{comment_name}}" type="text" placeholder="Name is required and will be displayed"></p>

            <p>Email <input name="comment_email" value="{{comment_email}}" type="text" placeholder="Email is optional and is NOT displayed"></p>

            <p>Comment</p>
            <textarea name="comment_content" placeholder="Comments can use markdown syntax, but URLs and images are not permitted">{{comment_content}}</textarea>

            <p>Are you human?
            <input id="spam-check" name="spam_check" type="text"> {{spam_operator}} {{spam_word}} = {{spam_answer}} </p>
            <button type="submit">Submit</button>
        </form>
        <hr>
        {% for comment in comments %}
            <p>Name: {{comment.name}} </p>
            <p>Creation Date: {{comment.creation_date}}</p>
            <p>{{comment.content}}</p>
            <hr/>
        {% endfor %}
    {% endif %}
{% endblock %}