{% extends "base.html" %}
{% block css %}

{% endblock %}
{% block content %}
    <header>
        <h1>{{title}}</h1>
    </header>
    {{content|safe}}

    <hr>
    <h2>Comments</h2>
    <h3> Add Comment</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul id="messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    <form action="/post/{{post_id}}/comment/" method="POST">
        <p>Name <input name="comment_name" value="{{comment_name}}" type="text" placeholder="Name is required and will be displayed"></p>

        <p>Email <input name="comment_email" value="{{comment_email}}" type="text" placeholder="Email is optional and is NOT displayed"></p>

        <p>Comment</p>
        <textarea name="comment_content" placeholder="Comments can use markdown syntax, but URLs and images are not permitted">{{comment_content}}</textarea>

        <p>Are you a human?
        <input id="spam-check" name="spam_check" type="text"> {{spam_operator}} {{spam_word}} = {{spam_answer}} </p>
        <button type="submit">Submit</button>
    </form>
    <hr>
    {% for comment in comments %}
        <p>Name: {{comment.name}}</p>
        <p>{{comment.content}}</p>
        <hr/>
    {% endfor %}
{% endblock %}